@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<a href="@Url.Action("InstallFromDisk", "FiasUpload")">Установить ФИАС из файла</a>
<br />
<a href="@Url.Action("UpdateFromDisk", "FiasUpload")">Обновить ФИАС из файла</a>
<br />
<a href="@Url.Action("InstallFromDisk", "OsmUpload")">Установить OSM из файла</a>
<br />
<a href="@Url.Action("UpdateFromDisk", "OsmUpload")">Обновить OSM из файла</a>
<br />
<a href="@Url.Action("InstallFromWeb", "FiasUpload")">Установить ФИАС по ссылке</a>
<br />
<a href="@Url.Action("UpdateFromWeb", "FiasUpload")">Обновить ФИАС по ссылке</a>
<br />
<a href="@Url.Action("InstallFromWeb", "OsmUpload")">Установить OSM по ссылке</a>
<br />
<a href="@Url.Action("UpdateFromWeb", "OsmUpload")">Обновить OSM по ссылке</a>
<br />
<a href="@Url.Action("Update", "PlaceUpdate")">Обработка новых записей OSM</a>
<br />
<a href="@Url.Action("Update", "SphinxUpdate")">Обработка новых записей Sphinx</a>
<br />
<a href="@Url.Action("Index", "Fias")">Проверить ФИАС</a>
<br />
<a href="@Url.Action("ById", "Osm")">Проверить OSM</a>
<br />
<a href="@Url.Action("ByName", "Place")">Проверить места по имени</a>
<br />
<a href="@Url.Action("ByCoords", "Place")">Проверить места по координатам</a>
<br />
