@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-center">
    <h1 class="display-4">Admin Page</h1>
</div>


<a href="@Url.Action("InstallFromDisk", "FileFiasUpload")">Установить ФИАС из файла</a>
<br/>
<a href="@Url.Action("UpdateFromDisk", "FileFiasUpload")">Обновить ФИАС из файла</a>
<br/>
<a href="@Url.Action("InstallFromWeb", "FileFiasUpload")">Установить ФИАС по ссылке</a>
<br/>
<a href="@Url.Action("UpdateFromWeb", "FileFiasUpload")">Обновить ФИАС по ссылке</a>
<br/>
<a href="@Url.Action("Update", "SphinxAddrobxUpdate")">Добавление новых записей в Sphinx (ФИАС)</a>
<hr/>
<a href="@Url.Action("InstallFromDisk", "FileOsmUpload")">Установить OSM из файла</a>
<br/>
<a href="@Url.Action("UpdateFromDisk", "FileOsmUpload")">Обновить OSM из файла</a>
<br/>
<a href="@Url.Action("InstallFromWeb", "FileOsmUpload")">Установить OSM по ссылке</a>
<br/>
<a href="@Url.Action("UpdateFromWeb", "FileOsmUpload")">Обновить OSM по ссылке</a>
<br/>
<a href="@Url.Action("Update", "DatabasePlacexUpdate")">Добавление новых записей в Placex</a>
<br/>
<a href="@Url.Action("Update", "DatabaseAddrxUpdate")">Добавление записей в Addrx</a>
<br/>
<a href="@Url.Action("Update", "SphinxAddrxUpdate")">Добавление новых записей в Sphinx (OSM)</a>
<hr/>
<a href="@Url.Action("Update", "DatabaseRouteUpdate")">Заполнить Route данными из OSM</a>
<hr/>
<a href="@Url.Action("Index", "Fias")">Проверить ФИАС</a>
<br/>
<a href="@Url.Action("ById", "Osm")">Проверить OSM</a>
<br/>
<a href="@Url.Action("ByName", "Placex")">Проверить места по имени</a>
<br/>
<a href="@Url.Action("ByCoords", "Placex")">Проверить места по координатам</a>
<br/>